<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Ohio Gallery</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="static/css/baguetteBox.min.css">

</head>

<body>
  <div class="wrapper">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
        <ul class="navbar-nav">
              <li class="nav-option">
            <a class="nav-link" href="/" style="color:rgb(255, 255, 255); font-size:25px; text-align:center;float: right;margin: 10px 15px 10px 5px;
            padding: 0 20px 0 0;">OHIO</a>
          </li>

          <li class="nav-option">
            <a class="nav-link" href="/age" style="color:rgb(255, 255, 255); font-size:25px; text-align:center;float: right;margin: 10px 15px 10px 5px;
            padding: 0 20px 0 0;">Age</a>
          </li>


          <li class="nav-option">
            <a class="nav-link" href="/economy" style="color:rgb(255, 255, 255); font-size:25px; text-align:center;float: right;margin: 10px 15px 10px 5px;
            padding: 0 20px 0 0;">Economy</a>
          </li>

          <li class="nav-option">
            <a class="nav-link" href="/geographial" style="color:rgb(255, 255, 255); font-size:25px; text-align:center;float: right;margin: 10px 15px 10px 5px;
            padding: 0 20px 0 0;">Geographical_Distribution</a>
          </li>
           <li class="nav-option">
             <a class="nav-link" href="/gallery" style="color:rgb(255, 255, 255); font-size:25px; text-align:center;float: right;margin: 10px 15px 10px 5px;
            padding: 0 20px 0 0;">Gallery</a>
           </li>


        </ul>
      </div>
    </nav>


    <div class="hero text-center">
      <h1>Ohio Voting analysis</h1>
      <p>Surveys of the voting situation-Based on 16 Congressional districts in Ohio</p>
    </div>
    <div class="container">
        <div class="galerial">
            <div class="textbox" style="text-align:center;font-size: 30px; ">Ohio's congressional district
                <h3 style="font-size: 20px;">- since January 3, 2013</h3>
                
            </div>

                
                

            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <a href="static/images/ohio_01.png">
                            <img src="static/images/ohio_01.png" alt="Ohio's 1st congressional district - since January 3, 2013." class="card-img-top" style="width: 250px;">
                        </a>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card">
                        <a href="static/images/ohio_02.png">
                            <img src="static/images/ohio_02.png" alt="Ohio's 2nd congressional district - since January 3, 2013." class="card-img-top" style="width: 250px;">
                        </a>
                    </div>
                </div>


                <div class="col-md-3">
                    <div class="card">
                        <a href="static/images/ohio_03.png">
                            <img src="static/images/ohio_03.png" alt="Ohio's 3rd congressional district - since January 3, 2013." class="card-img-top" style="width: 250px;">
                        </a>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card">
                        <a href="static/images/ohio_04.png">
                            <img src="static/images/ohio_04.png" alt="Ohio's 4th congressional district - since January 3, 2013." class="card-img-top" style="width: 250px;">
                        </a>
                    </div>
                </div>

            </div>
            <hr>

    
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <a href="static/images/ohio_05.png">
                            <img src="static/images/ohio_05.png" alt="Ohio's 5th congressional district - since January 3, 2013." class="card-img-top" style="width: 250px;">
                        </a>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card">
                        <a href="static/images/ohio_06.png">
                            <img src="static/images/ohio_06.png" alt="Ohio's 6th congressional district - since January 3, 2013." class="card-img-top" style="width: 250px;">
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <a href="static/images/ohio_07.png">
                            <img src="static/images/ohio_07.png" alt="Ohio's 7th congressional district - since January 3, 2013." class="card-img-top" style="width: 250px;">
                        </a>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card">
                        <a href="static/images/ohio_08.png">
                            <img src="static/images/ohio_08.png" alt="Ohio's 8th congressional district - since January 3, 2013." class="card-img-top" style="width: 250px;">
                        </a>
                    </div>
                </div>



            </div>
            <hr>
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <a href="static/images/ohio_09.png">
                            <img src="static/images/ohio_09.png" alt="Ohio's 9th congressional district - since January 3, 2013." class="card-img-top" style="width: 250px;">
                        </a>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card">
                        <a href="static/images/ohio_10.png">
                            <img src="static/images/ohio_10.png" alt="Ohio's 10th congressional district - since January 3, 2013." class="card-img-top" style="width: 250px;">
                        </a>
                    </div>
                </div>


                <div class="col-md-3">
                    <div class="card">
                        <a href="static/images/ohio_11.png">
                            <img src="static/images/ohio_11.png" alt="Ohio's 11th congressional district - since January 3, 2013." class="card-img-top" style="width: 250px;">
                        </a>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card">
                        <a href="static/images/ohio_12.png">
                            <img src="static/images/ohio_12.png" alt="Ohio's 12th congressional district - since January 3, 2013." class="card-img-top" style="width: 250px;">
                        </a>
                    </div>
                </div>

            </div>
            <hr>
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <a href="static/images/ohio_13.png">
                            <img src="static/images/ohio_13.png" alt="Ohio's 13th congressional district - since January 3, 2013." class="card-img-top" style="width: 250px;">
                        </a>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card">
                        <a href="static/images/ohio_14.png">
                            <img src="static/images/ohio_14.png" alt="Ohio's 14th congressional district - since January 3, 2013." class="card-img-top" style="width: 250px;">
                        </a>
                    </div>
                </div>


                <div class="col-md-3">
                    <div class="card">
                        <a href="static/images/ohio_15.png">
                            <img src="static/images/ohio_15.png" alt="Ohio's 15th congressional district - since January 3, 2013." class="card-img-top" style="width: 250px;">
                        </a>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card">
                        <a href="static/images/ohio_16.png">
                            <img src="static/images/ohio_16.png" alt="Ohio's 16th congressional district - since January 3, 2013" class="card-img-top" style="width: 250px;">
                        </a>
                    </div>
                </div>

            </div>
            
            
           
        </div>
       
        

    </div>
  </div>

  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
  <script src="static/js/data.js"></script>
  <script src="static/js/app.js"></script>
  <script src="static/js/baguetteBox.min.js"></script>
  <script> 
//   baguetteBox.run('.galerial')
  window.addEventListener('load', function() {
  baguetteBox.run('.galerial',{
    animation: 'slideIn',
    noScrollbars: true,
    titleTag:true,
    captions: function(element) {
            return element.getElementsByTagName('img')[0].alt;
        }
});
});
</script>

</body>

</html>